@model IList<COVID_19.ProductsCatalog.Web.Models.ProductViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/products-css")
<link href="~/Content/Products.css" rel="stylesheet" />
<h2>Manage Products</h2>

<p>
    @Html.ActionLink("Add Product", "Create")
</p>
<div class="div-product-catalog">
    @foreach (var item in Model)
    {
        <div class="div-product-catalog row">
            <div class="div-product-catalog row col1">
                <img src="@item.ImageUrl">
            </div>
            <div class="div-product-catalog row col2">
                <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                <p>@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                <div class="div-product-catalog actions">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("View", "View", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </div>
            </div>
        </div>                
    }
</div>
